<a href="https://colab.research.google.com/github/anko2603/python-basic-problem/blob/main/pythonbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Exercise 1:Calculate the multiplication and sum of two numbers?
def multiplication_sum(num1,num2):
  #create product of multiplication of number
  product = num1*num2
  if product<=1000:
    return product
  else:
    return num1+num2
#first condition
result = multiplication_sum(30,20)
print("The result is:",result)
result= multiplication_sum(40,50)
print("The result is:",result)

The result is: 600
The result is: 90

In [ ]:
#Exercise 2:Print the sum of the current number and the previous number?
previous_num=0
for i in range(1,11):
  x_sum=previous_num+i
  print("current num:",i,"previous num:",previous_num,"sum:",x_sum)
  previous_num=i

current num: 1 previous num: 0 sum: 1
current num: 2 previous num: 1 sum: 3
current num: 3 previous num: 2 sum: 5
current num: 4 previous num: 3 sum: 7
current num: 5 previous num: 4 sum: 9
current num: 6 previous num: 5 sum: 11
current num: 7 previous num: 6 sum: 13
current num: 8 previous num: 7 sum: 15
current num: 9 previous num: 8 sum: 17
current num: 10 previous num: 9 sum: 19

In [ ]:
#Exercise 3:Print characters from a string that are present at an even index number?
word=input('Enter word ')
#print("original string:",word)
size=len(word)
print("Printing only even index char")
for i in range(0,size-1,2):
  print("index[",i,"]",word[i])

Enter word pynative
Printing only even index char
index[ 0 ] p
index[ 2 ] n
index[ 4 ] t
index[ 6 ] v

In [ ]:
#Exercise 4:Remove first n characters from a string?
def remove_char(word,n):
  print("original string:",word)
  x=word[n:]
  return x
print("Removing the character to string")
print(remove_char("pynative",4))
print(remove_char("pynative",2))

Removing the character to string
original string: pynative
tive
original string: pynative
native

In [ ]:
#Exercise 5:Check if the first and last number of a list is the same?
def First_last_same(number_list):
  print("Given list",number_list)

  First_number= number_list[0]
  last_number = number_list[-1]
  if First_number==last_number:
    return True
  else:
    return False
numbers_x = [10, 20, 30, 40, 10]
print("result is", First_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", First_last_same(numbers_y))

Given list [10, 20, 30, 40, 10]
result is True
Given list [75, 65, 35, 75, 30]
result is False

In [ ]:
#Exercise 6:Display numbers divisible by 5 from a list?
list=[10,20,30,46,44,55]
print("Enter the list:",list)
for num in list:
  if num%5==0:
    print(num)

Enter the list: [10, 20, 30, 46, 44, 55]
10
20
30
55

In [ ]:
#Exercise 7: Return the count of a given substring from a string?
#Solution 1: Without string method
str_x = "Emma is good developer. Emma is a writer"
#use count function
cnt=str_x.count("Emma")
print(cnt)
#Solution 2: Without string method

2

In [ ]:
#Exercise 8: Print the following pattern?
for num in range(10):
  for i in range(num):
    print(num,end=" ")
  print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [ ]:
#Exercise 9: check the palindrome?
def is_palindrome(number):
    reverse_num = 0
    original_number = number

    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    if original_number == reverse_num:
        return True
    else:
        return False

# Example usage
num = 12321
if is_palindrome(num):
    print(num, "is a palindrome")
else:
    print(num, "is not a palindrome")

12321 is a palindrome

In [ ]:
#Exercise 10:Create a new list from a two list using the following condition?
def merge_list(list1,list2):
  result_list=[]
  for num in list1:
    if num %2 !=0:
      result_list.append(num)
  for num in list2:
    if num %2==0:
      result_list.append(num)
  return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:",merge_list(list1,list2))

result list: [25, 35, 40, 60, 90]

In [ ]:
#Exercise 11: Write a Program to extract each digit from an integer in the reverse order?
number=75468
print("given list:",number)
while number>0:
  digit= number % 10
  number= number // 10
  print(digit,end="")

given list: 75468
86457

In [ ]:
#Exercise 12: Calculate income tax for the given income by adhering to the below rules?
income=50000
tax_payable=0
print("given number:",income)
if income <= 10000:
  tax_payable =0
elif income<=20000:
  x= income-10000
  tax_payable = x *10 / 100
else:
  tax_payable =  0
  tax_payable = 10000 * 10 /100
  tax_payable += (income - 20000) * 20 /100
  print("tax print:",tax_payable)

given number: 50000
tax print: 7000.0

In [ ]:
#Exercise 13: Print multiplication table form 1 to 10?
for i in range(1,11):
  for j in range(1,11):
       print(i * j,end=" ")
  print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
#Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)?
for i in range(6,0,-1):
  for j in range(0,i-1):
    print("*",end=" ")
  print(" ")

* * * * *
* * * *
* * *
* *
*

In [ ]:
# Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
def exponent(base,exp):
  result = base ** exp
  print(base,"raises to the power of",exp,"is:",result)
exponent(5,4)
exponent(2,5)

5 raises to the power of 4 is: 625
2 raises to the power of 5 is: 32

In [ ]:
                                  #INPUT AND OUTPUT EXERCISE
#Exercise 1: Accept numbers from a user?
num1 = input("Enter the number:")
num2 = input("Enter the number:")

res = int(num1) * int(num2)
print("result is:",res)

Enter the number:4
Enter the number:5
result is: 20

In [ ]:
#Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”?
print('My','name','is','Ankita',sep="**")

My**name**is**Ankita

In [ ]:
#Exercise 3: Convert Decimal number to octal using print() output formatting?
num = 8
print('%o'% num)

10

In [ ]:
#Exercise 4: Display float number with 2 decimal places using?
num = 458.541315
print('%.2f'%num)

458.54

In [ ]:
#Exercise 5: Accept a list of 5 float numbers as an input from the user?
numbers = []
for i in range(0,5):
  print("Enter number location",i,":")
  item = float(input())
  numbers.append(item)
print("user list:",numbers )

Enter number location 0 :
5
Enter number location 1 :
0.3
Enter number location 2 :
5.4
Enter number location 3 :
78.6
Enter number location 4 :
6.43
user list: [5.0, 0.3, 5.4, 78.6, 6.43]

In [ ]:
#Exercise 6: Write all content of a given file into a new file by skipping line number 5?
with open("test.txt", "r") as fp:
    lines = fp.readlines()

with open("new_file.txt", "w") as fp:
    count = 0
    for line in lines:
        if count == 4:
            count += 1
            continue
        else:
            fp.write(line)
        count += 1

In [ ]:
# Exercise 7: Accept any three string from one input() call?
str1, str2, str3 = input("Enter three string:").split()
print("Name1:",str1)
print("Name2:",str2)
print("Name3:",str3)

In [ ]:
# Exercise 8: Format variables using a string.format() method?
quantity = 3
Totalmoney = 1000
price = 450

statement1 = "I have {1} dollar so I can buy {0} football for {2:.2f} dollar."
print(statement1.format(quantity , Totalmoney , price))

I have 1000 dollar so I can buy 3 football for 450.00 dollar.

In [ ]:
# Exercise 9: Check file is empty or not?
import os
size = os.stat("text.txt").st_size
if  size == 0:
  print('file is empty')

In [ ]:
# Exercise 10: Read line number 4 from the following file?

In [ ]:
                            #loop question
#Exercise 1: Print First 10 natural numbers using while loop?
i=1
while i <=10:
  print(i)
  i +=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Exercise 2: Print the following pattern?
print("Number pattern")
row = 5
for i in range(1,row+1,1):
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

Number pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#Exercise 3: Calculate the sum of all numbers from 1 to a given number?
s = 0
n = int(input("Enter number:"))
for i in range (1,n+1,1):
  s += i
  print("\n")
  print("sum is:",s)

Enter number:10


sum is: 1


sum is: 3


sum is: 6


sum is: 10


sum is: 15


sum is: 21


sum is: 28


sum is: 36


sum is: 45


sum is: 55

In [ ]:
#Exercise 4: Write a program to print multiplication table of a given number?
n = int(input("Enter number:"))
for i in range(1,11,1):
  product = n * i
  print(product)

Enter number:3
3
6
9
12
15
18
21
24
27
30

In [ ]:
#Exercise 5: Display numbers from a list using loop?
number = [12, 75, 150, 180, 145, 525, 50]
for item in number:
  if item > 500:
    break
  elif item > 150:
    continue
  elif item % 5 == 0:
    print(item)

75
150
145

In [ ]:
#Exercise 6: Count the total number of digits in a number?
number = 75869
count = 0
while number != 0:
  #floor division
  #to reduce the last digit form number
  number = number//10
  #increment counter by 1
  count = count +1
print("Total digits are:",count)

Total digits are: 5

In [ ]:
#Exercise 7: Print the following pattern?
n = 5
k = 5
for i in range(0,n+1):
  for j in range(k-i,0,-1):
    print(j,end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#Exercise 8: Print list in reverse order using a loop
list= [10,20,30,40,50]
new_list =reversed(list)
for item in new_list:
  print(item)

50
40
30
20
10

In [ ]:
#Exercise 9: Display numbers from -10 to -1 using for loop
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
#Exercise 10: Use else block to display a message “Done” after successful execution of for loop
for i in range(5):
  print(i)
else:
  print("Done!")

0
1
2
3
4
Done!

In [ ]:
#Exercise 11: Write a program to display all prime numbers within a range
start= 25
end= 50
for num in range(start,end+1):
  if num > 1:
    for i in range(2,num):
      if (num%i)==0:
        break
    else:
        print("prime number:",num)

prime number: 29
prime number: 31
prime number: 37
prime number: 41
prime number: 43
prime number: 47

In [ ]:
#Exercise 12: Display Fibonacci series up to 10 terms?
num1,num2 = 0,1
print("Fibonacci Squence:")
for i in range(10):
  print(num1,end=" ")

  res= num1+num2
  num1 = num2
  num2 = res

Fibonacci Squence:
0 1 1 2 3 5 8 13 21 34

In [ ]:
#Exercise 13: Find the factorial of a given number?
num = 5
factorial=1
if num < 0 :
  print("Factorial does not exit for negative numbers")
elif num == 0 :
  print("Factorial of 0 is 1")
else:
  for i in range(1, num+1):
    factorial = factorial*i
  print("the factorial of",num,"is:", factorial)

the factorial of 5 is: 120

In [ ]:
#Exercise 14: Reverse a given integer number?
num = 76542
reverse_number = 0
print("Given number:", num)
while num > 0:
  remainder = num % 10
  reverse_number = (reverse_number * 10) + remainder
  num=num // 10
print(reverse_number)

Given number: 76542
24567

In [ ]:
#Exercise 15: Use a loop to display elements from a given list present at odd index positions?
my_list = [10,20,30,40,50,60,70,80,90,100]
for i in my_list[1:10:2]:
  print(i,end=" ")

20 40 60 80 100

In [ ]:
#Exercise 16: Calculate the cube of all numbers from 1 to a given number?

In [ ]:
def solveMeFirst(a,b):
	# Hint: Type return a+b below

   num1 = int(input("Enter the first number"))
   num2= int(input("Enter the second number"))
   res = solveMeFirst(num1+num2)
   print("two number sum:", res)